{% extends 'base.html.twig' %}

{% block title %}Hello FinishController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div>
	<div class="container">
		<div class="alert alert-success" role="alert" style="margin-top: 20%;">
		  <h4 class="alert-heading">Well done!</h4>
		  <p>{{ result }}</p>
		  <hr>
		  <a href="/questions">First page</a>
		</div>
	</div>
</div>
{% endblock %}